body {
    background-color: whitesmoke;
}
h1 {
  color: #870024;
  font-weight: bold;
  font-family: georgia,serif;
}
h2 {
  color: black;
  font-family: georgia,serif;
  font-size: medium;
}
#texte_gauche {
    width: 50%;
    position: absolute;
    left: 0;
    padding: 20px;
}

#image_droite {
    width: 50%;
    position: absolute;
    right: 0;
    padding: 20px;
}
